.teacherbut{
    background-color: black;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/finalyearproject22-6db2e.appspot.com/o/Assets%2Fteacheraccbutt.jpg?alt=media&token=08428cb0-cb12-4b4f-aa19-dd83770075be") !important;
    opacity: 0.95;
    color: #198754;
    

}
.teacherbut:not(.collapsed){
    color: #0d6efd;
}


