.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
#resetsubmitbtn{
  width: 15rem;
  display: block;
}
.modal{
  animation: fadeInAnimation 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation{
  0%{
    opacity: 0;;
  }
  100%{
    opacity: 1;
  }
}
#loadingscreen{
  opacity: 0.75;
}
.spinner-border-lg{
  width: 5rem; height: 5rem;
}
#spinnercontainer{
margin: 0 auto;
}
